<li>
	{{name}}
	{{#unless eaten}}
	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		Devour It!
	</button>
	{{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>