<li>
	{{name}}
	{{#unless eaten}}
	<button class="change-eat btn btn-danger" data-id="{{id}}" data-neweat="{{eat}}">
		Devour It!
	</button>
	{{/unless}}
	{{#if eaten}}
	<button class="delete-burger btn btn-warning" data-id="{{this.id}}">Delete!</button>
	{{/if}}
</li>