* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  padding: 5px;
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.form-group {
  margin: 5px;
}
.title {
  border-bottom: 2px solid black;
}
